*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(101,253,255);
    background: linear-gradient(0deg, rgba(101,253,255,1) 0%, rgba(255,173,246,1) 100%);
    
}
header{
    width: 100px;
    margin: 20px auto;
    text-align: center;
    color: snow;
    font-size: 25px;

}
img{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 10px solid whitesmoke;
    position: relative;
    top: 40px;
    z-index: 1;
    background: rgb(255, 183, 195);
    border-radius: 100%;
}
section{
    width: 400px;
    height: 550px;
    background: rgb(255, 183, 195);
    margin: auto;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    top: -20px;
    box-shadow: 0 5px 20px black;
}
input{
    display: block;
    width: 100%;
    height: 45px;
    margin-top: 30px;
    border: 2px solid rgb(255, 172, 227);
}

input::placeholder{

    padding-left: 95px;
    font-size: 15px;
    color: rgb(202, 146, 255);
}
button{
    width: 100px;
    height: 40px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px black;
}
.claro{
    color: rgb(80, 31, 85);
    opacity: 0.5;
}
.mover{
    margin-top: 30px;

}
.btn-login{
    background: rgb(250, 242, 175);
}
.btn-face{
    background: rgb(255, 89, 158);
}
.btn-git{
    background: rgb(102, 255, 230);
}